* {
    box-sizing: border-box;
}
body {
    background-color: #E0F7FA;
    font-family: 'Arial';
    text-align: center;
}
#container {
    width: 95%;
    margin: auto;
}
#baner {
    background-color: #00838F;
    height: 200px;
}
#menu {
    background-color: #006064;
    padding: 15px;
}
#menu a {
    color: white;
    text-decoration: none;
    font-size: 150%;
}
#glowny-1, #glowny-2, #glowny-3 {
    height: 350px;
    width: 33%;
    float: left;
}
#stopka {
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
    clear: both;
}
ul {
    text-align: left;
}
input[type=reset], button {
    background-color: #00838F;
    color: white;
}
input[type=reset]:hover, button:hover {
    color: #80DEEA;
} 
