body {
    padding: 0;
    margin: 0;
    font-family: Verdana;
}
#baner-lewy {
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
    float: left;
}
#baner-prawy {
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
    float: left;
}
#blok-listy-1, #blok-listy-2 {
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
    clear: both;
}
#stopka {
    background-color: #29434E;
    color: white;
}
.film {
    float: left;
    padding: 5px;
    width: 226px;
    height: 280px;
}
h3 {
    background-color: #546E7A;
    color: white;
    margin: 0px;
}
h4 {
    text-align: center;
    margin: 0px
}
.clear {
    clear: both;
}