* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #EEE;
  font-family: Helvetica;
}
.containter {
  width: 90%;
  margin: auto;
}
.logo, .menu {
  background-color: lightblue;
  height: 100px;
  width: 50%;
  padding: 10px 0;
  float: left;
}
.baner {
  background-color: #DDD;
  height: 200px;
}
.glowny {
  color: navy;
  margin: 50px;
  height: 400px;
}
.stopka {
  text-align: right;
  background-color: lightblue;
  padding: 10px;
}
input[type=button], input[type=reset] {
  background-color: lightblue;
  color: navy;
} 
.menu a {
  color: navy;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}
.menu a:hover {
  border: 1px solid navy;
}
.clear {
  clear: both;
}
img {
  padding: 0;
  margin: 0;
}