* {
    font-family: "Helvetica";
}
body {
    padding: 0;
    margin: 0;
}
#lewy1 {
    height: 400px;
    width: 70%;
    background-color: snow;
    text-align: center;
    float: left;
}
#lewy2 {
    height: 400px;
    width: 70%;
    background-color: snow;
    font-size: 150%;
    float: left;
}
#prawy1 {
    height: 150px;
    width: 30%;
    background-color: steelblue;
    color: white;
    text-align: center;
    float: left;
}
#prawy2 {
    height: 350px;
    width: 30%;
    background-color: steelblue;
    color: white;
    float: right;
}
#prawy3 {
    height: 300px;
    width: 30%;
    background-color: snow;
    text-align: center;
    float: right;
}
#stopka {
    background-color: steelblue;
    color: white;
    clear: both;
}
h2 {
    font-size: 250%;
}
img {
    padding: 4px;
}
img:hover {
    padding: 3px;
    border: 1px solid steelblue;
}