* {
    padding: 0;
    margin: 0;
}
#baner img {
    height: 70px;
}
#baner img, #baner h1 {
    display: inline;
}
#baner {
    background-color: #1C59A7;
    color: white;
    text-align: center;
    height: 80px;
}
#lewy {
    background-color: #3A70B5;
    width: 33%;
    height: 200px;
    float: left;
}
#srodkowy {
    background-color: #5A8AC8;
    width: 33%;
    height: 200px;
    float: left;
}
#prawy {
    background-color: #86ACDD;
    width: 34%;
    text-align: center;
    height: 200px;
    float: left;
}
#dolny {
    background-color: #86ACDD;
    text-align: center;
    height: 300px;
    clear: both;
}
#stopka {
    background-color: #1C59A7;
    color: white;
}
#prawy a {
    background-color: yellow;
    color: blue;
    padding: 10px;
}
h2, p{
    margin: 15px 0px;
}
ul {
    margin-left: 30px;
}
#stopka p {
    margin: 0;
}

