body {
    padding: 0;
    margin: 0;
}
* {
    font-family: Georgia;
}
#baner {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}
#glowny {
    background-color: lightblue;
    padding: 100px;
}
#lewy {
    background-color: dodgerblue;
    color: white;
    width: 20%;
    height: 220px;
    float: left;
}
#srodkowy, #prawy {
    background-color: dodgerblue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;
    float: left;
}
a {
    border: 1px dashed dimgray;
    background-color: gold;
    color: darkred;
    padding: 10px;
}
